<h2><b>Favorite Links</b></h2>

<ul>
  <li><a href="http://www.billpratt.com" target="_blank">BillPratt.com</a></li>
  <li><a href="http://www.sierracollege.edu/academics/divisions/baape/auto-tech.php" target="_blank">Sierra College</a></li>
  <li><a href="http://www.whs.wjusd.org/" target="_blank">Woodland High School</a></li>
  <li><a href="http://www.woodlandsingers.org/" target="_blank">Woodland Chamber Singers</a></li>
</ul>

<h4><b>Services</b></h4>
<ul>
  <li><a href="http://larssonmarine.com/" target="_blank">Larsson Marine</a></li>
</ul>

<h4><b>Marine Covers and Enclosures</b></h4>
<ul>
  <li><a href="http://www.incanvas.com" target="_blank">In Canvas</a></li>
</ul>

<h4><b>Marinas to stop and visit</b></h4>
<ul>
  <li><a href="http://www.lagooncovemarina.com/" target="_blank">Lagoon Cove Marina</a></li>
  <li><a href="http://youtu.be/dnk75TP39Rw" target="_blank">Bill Barber Bear Stories</a></li>
  <li><a href="http://www.sullivanbay.com/" target="_blank">Sullivan Bay Marina</a></li>
  <li><a href="http://www.blindchannel.com/" target="_blank">Blind Channel Resort</a></li>
</ul>

<h4><b>Informational websites</b></h4>
<ul>
  <li><a href="http://boating.ncf.ca/" target="_blank">Pat's Boating in Canada</a></li>
  <li><a href="http://ndbc.noaa.gov/" target="_blank">National Data Buoy Center</a></li>
  <li><a href="http://www.weatheroffice.gc.ca/canada_e.html" target="_blank">BC Marine Weather</a></li>
  <li><a href="http://www.pac.dfo-mpo.gc.ca/fm-gp/maps-cartes/rca-acs/index-eng.htm" target="_blank">Rockfish Conservation Areas</a></li>
  <li><a href="https://dtops.cbp.dhs.gov" target="_blank">U. S. Customs and Border Protection</a></li>
</ul>

<h4><b>WiFi on your boat made simple!</b></h4>
<ul>
  <li><a href="http://www.landandseawifi.com/" target="_blank">Land & Sea WiFi</a></li>
</ul>
<a href="http://ceyolo.ucdavis.edu/" target="_blank">Master Gardener Yolo County</a>
