
<nav role="navigation" class="ui-menu">
    <ul id="menu">
        <li><a href="/pratt/index.html">Home</a></li>
        <li>Adventures
            <ul>
                <li><a href="/pratt/adventure/2021.html">2021</a></li>
                <li><a href="/pratt/adventure/2020.html">2020</a></li>
                <li><a href="/pratt/adventure/2019.html">2019</a></li>
                <li><a href="/pratt/adventure/2018.html">2018</a></li>
                <li><a href="/pratt/adventure/2017.html">2017</a></li>
                <li><a href="/pratt/adventure/2016.html">2016</a></li>
                <li><a href="/pratt/adventure/2015.html">2015</a></li>
                <li><a href="/pratt/adventure/2014.html">2014</a></li>
                <li><a href="/pratt/adventure/2013.html">2013</a></li>
                <li><a href="/pratt/adventure/2012.html">2012</a></li>
                <li><a href="/pratt/adventure/2011.html">2011</a></li>
                <li><a href="/pratt/adventure/2010.html">2010</a></li>
                <li><a href="/pratt/adventure/2009.html">2009</a></li>
                <li><a href="/pratt/adventure/2008.html">2008</a></li>
                <li><a href="/pratt/adventure/2007.html">2007</a></li>
                <li><a href="/pratt/adventure/2006.html">2006</a></li>
            </ul>
        </li>
        <li><a href="/pratt/FriendsandFamily.html">Family &amp; Friends</a></li>
        <li><a href="/pratt/BoatHistory.html">Our Vessels</a></li>
    </ul>
</nav>