/*
Design by Bryant Smith
http://www.bryantsmith.com
Free use with link
*/
html body {
	margin: 0;
	padding: 0;
}

body {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #014D5D url(https://raw.githubusercontent.com/Rkayak/pratt/images/NEW/background.png);
	background-repeat: repeat-x;
}

* {
  margin: 0 auto 0 auto;
}
td {
	align:center;
}
p {
	padding:0 40px 10px 40px;
}
a {
	text-decoration:none;
	color:white;
}

#page {
  display: block;
  height:auto;
  position: relative;
  overflow: hidden;
  width: 670px;
  padding-left:10%;
}

.topNavigationLink {
	text-align:center;
	position:relative;
	margin-top:30px;
	font-size:16px;
	margin-left:-10px;
	width:121px;
	height: 35px;
	line-height: 35px;
	float:left;
	color:#CEEAEE;
	font-weight:bold;
}

.topNavigationLinkA {
	text-align:center;
	position:relative;
	margin-top:30px;
	font-size:16px;
	margin-left:10px;
	width:141px;
	height: 35px;
	line-height: 35px;
	float:left;
	color:#CEEAEE;
	font-weight:bold;
}
.topNavigationLinkA a {
	text-decoration:none;
	color:#CDE2FC;
}

.topNavigationLinkA a:hover {
	color:#0C61C9;
	display: block;
	width:141px;
	height: 35px;
	line-height: 35px;
	background-image:url(https://raw.githubusercontent.com/Rkayak/pratt/images/NEW/tab.png);
}

.topNavigationLink a {
	text-decoration:none;
	color:#CDE2FC;
}

.topNavigationLink a:hover {
	color:#0C61C9;
	display: block;
	width:121px;
	height: 35px;
	line-height: 35px;
	background-image:url(https://raw.githubusercontent.com/Rkayak/pratt/images/NEW/tab.png);
}

#mainPicture {
	position: relative;
	margin-left:  250px;
	width:670px;
	height:345px;
	background-color:#FFFFFF;
	margin-bottom: 15px;
}

#mainPicture .picture {
	position:relative;
	width:650px;
	height:325px;
	top:10px;
	background-image:url(https://raw.githubusercontent.com/Rkayak/pratt/images/NEW/IMG_2955RS.jpg);
	background-repeat:no-repeat;
}

div#header {
  width: 100%;
  height: 50px;
  /*border: 2px solid #000;*/
  text-align: center;
  vertical-align: middle;
  color: white;
}
div#header h1 {
	margin-top:  10px;
  /*border: 1px solid red;*/
}

div#leftnav {
  position: fixed;
  top:  170px;
  width: 220px;
  height: 80%;
  color:  white;
  font-size:  1.1em;
  line-height: 1.6;
  hover
  border: 2px solid yellow;
}

#leftnav ul, menu {
	padding-inline-start: 10px;
	background-color: #073C7A;
}

ul#menu li {
	list-style-position: outside;
	list-style-type:  none;
	text-decoration: none;
	font-size: 0.8em;
}

ul#menu h1 {
	color: red;
	text-decoration: none;
	font-size: 1em;
	margin-top: 1em;
}

div#content {
  margin-left: 250px;
  padding-top: 10px;
  padding-left: 20px;
  background-color: white;
  width: 70%;
  /*height:90%;*/
  /*float: left;*/
}
div#content h1, h2, h3, h4, h5, h6 {
  color: #232323;
	margin: 36px 10px 10px;
}

div#content h1, h2, h3 {
	display: block;
	border-bottom:  1px solid #ccc;
	padding-bottom: 5px;
	line-height: 1.3;
	font-weight: normal;
}

div#content h3 {
	font-size: 18px;
}

div#content p {
	display: block;
	font-size: 1.2em;
	line-height: 1.4;
	margin-block-start:  1em;
	margin-block-end:  1em;
	margin-inline-start:  0px;
	margin-inline-end:  0px;
	margin: 36px 10px 10px;
	padding: 0px;
}

#headerTitle {
	position:relative;
	top:30px;
	left:40px;
	font-size:25px;
	color:#ffffff;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerSubtext {
	position:relative;
	top:30px;
	left:50px;
	font-size:14px;
	color:#A9C8FA;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

.contentBox {
	width:670px;
	height:auto;
	background-color:#FFFFFF;
}

.contentBox .innerBox {
	position:relative;
	margin-top:10px;
	width:650px;
	height:auto;
	top:10px;
	background-image:url(https://raw.githubusercontent.com/Rkayak/pratt/images/NEW/content_back.png);
	background-repeat:repeat-x;
	padding-bottom:35px;
}

.contentTitle {
	font-size:19px;
	margin-bottom:0px;
	padding-top:18px;
	margin-left:15px;
	margin-top:15px;
}

.contentText {
	font-size:13px;
	line-height:24px;
	margin-left:13px;
	margin-right:13px;
}

.footer {
  width: 100%;
	height:20px;
	background: url(https://raw.githubusercontent.com/Rkayak/pratt/images/NEW/footer.png) no-repeat;
	text-align:center;
	font-size: 1em;
	color: white;
	padding-top: 5px;
  clear: both;
  border: 1px solid red;
}

.footer a {
	text-decoration:none;
}

#sddm {	margin: 0;
 	padding: 0;
 	z-index: 30;
}
#sddm li {	margin: 0;
 	padding-top: 20px;
 	list-style: none;
 	float: left;
 	font: bold 16px arial;
}
#sddm li a {	display: inline;
	margin: 0 0px 0 0;
 	padding: 10px 20px;
	width: 121px;
 	background: 74bbfb;
 	color: #CDE2FC;
 	text-align: center;
 	text-decoration: none;
	height: 35px;
	line-height: 35px;
}
#sddm li a:hover {
 	background: #ffffff;
	color: #0C61C9;
}
#sddm div {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #74bbfb;
	border: none;
}
#sddm div a {
	position: relative;
	display: inline;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	color: #000000;
	font: 11px arial;
}
#sddm div a:hover {
	background: #74bbfb;
	color: #fff;
}
